<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>

    {{!-- {{! Navigation Bar Start}}
    <nav id="navbar">
        <ul id="navbar-ul">
            <li>
                <p><a class="link" href="/">Home</a></p>
            </li>
            {{#if loggedIn}}
            <li>
                <p><a class="link" href="/dashboard">Dashboard</a></p>
            </li>
            <li>
                <p><button id="logout-btn" class="btn-no-style">Logout</button> </p>
            </li>

            {{else}}
            <li>
                <p><a class="link" href="/login">Login</a></p>
            </li>
            {{/if}}
        </ul>
        <h1 id="nav-header">Da Tech Blog</h1>
    </nav>
{{! Navigation Bar End}}

    {{{body}}} --}}

</body>
{{!--
<script src="/js/nav.js"></script> --}}
<script src="/js/logout.js"></script>
<script src="/js/home.js"></script>
<script src="/javascript/login.js"></script>

</html>